*.iml
.gradle
/TRISGUI-main/local.properties
/TRISGUI-main/.idea/caches
/TRISGUI-main/.idea/libraries
/TRISGUI-main/.idea/modules.xml
/TRISGUI-main/.idea/workspace.xml
/TRISGUI-main/.idea/navEditor.xml
/TRISGUI-main/.idea/assetWizardSettings.xml
/TRISGUI-main/.DS_Store
/TRISGUI-main/build
/TRISGUI-main/captures
/TRISGUI-main/.externalNativeBuild
/TRISGUI-main/.cxx
/TRISGUI-main/local.properties
/TRISConsole/CoreConsole/out/
